<% if current_user.standard? %>
  <%= form_tag charges_path do %>
    <h4>Click the button!</h4>
    <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount="<%= @stripe_btn_data[:amount] %>" data-description="<%= @stripe_btn_data[:description] %>" ></script>
  <% end %>
<% elsif current_user.premium? %>
  <p>You already have a membership</p>

    <%= link_to 'Cancel membership', charge_path(Charge.where(user_id: current_user.id).first), data: { confirm: "Are you sure? All of your private wikis will be made public.", method: :delete } %>

<% end %>
